*, *::before, *::after {
    box-sizing: border-box;
}

/*
font-family: 'Josefin Sans', sans-serif; 
*/

/* custom properties styles */

:root {
    --ff-primary:'Josefin Sans', sans-serif; 

    --fw-thin: 100;
    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    --clr-light: #FFFFFF;
    --clr-primary: #Fa6a28;
    --clr-secondary: #333131;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}


html {
    scroll-behavior: smooth;
}

body { 
    margin:  0;
    font-family: var(--ff-primary);
    background: var(--clr-light);
    font-size: var(--fs-body);
    line-height: 1.6em;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1.1em;
    margin: 0;
}

h1 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h1);
    text-transform: capitalize;
    letter-spacing: normal;
}

p {
    letter-spacing: normal;
}

.container {
    width: 85%;
    max-width: 1128px;
    margin: 0 auto;
    position: relative;

}

.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-light);
    background-color: rgb(72, 40, 77);
    font-weight: var(--fw-regular);
    padding: .75em .3em;
    border: transparent;
    text-transform: capitalize;
}

.btn:hover,
.btn:focus {
    opacity: .9;
}


/* header section styles */
header {
    background: var(--clr-primary);
    padding: 1em 0;
}

/* navbar section styles */
.nav {
   width: 100%; 
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 50%;
    color: var(--clr-light);
    background: rgb(72, 40, 77);
    position: absolute;
    right: 0;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before, 
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

/* navbar section styles */
.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.nav__link {
    color: white;
    text-decoration: none;
    line-height: 1.875;
}

.nav_item {
    margin-top: .75em;
}

.logo {
    height: 40px;
}


/* intro section styles */
.intro {
    background: var(--clr-primary);
    color: var(--clr-light);
    padding: 80px 0;
}

.intro__text {
    text-align: center;
}

.intro p {
    margin-bottom: 3em;
    line-height: 2em;
    font-size: .9rem;
    font-weight: var(--fw-light);
    letter-spacing: normal;
    
}

.intro__img, .why__shuleh--img {
    margin-top: 2em;
}

.about {
    padding: 50px 0;
    color: rgb(72, 40, 77);
}

.about p {
    font-size: .875rem;
    text-align: left;
    line-height: 1.875;
}

/* about section styles */
.about__title {
    text-align: left;
    line-height: 1.35;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

.about__section--secondary {
    padding: 1em;
}

/* why section styles */
.why__shuleh {
    /* background-color: rgb(72, 40, 77); */
    background-color: var(--clr-secondary);
    padding: 70px 0;
}

.why__shuleh--title {
    color: var(--clr-light);
    text-align: center;
    line-height: 1.35;
    font-size: var(--fs-h2);
    font-weight: var(--fw-regular);
}

.why__shuleh h3 {
    color: var(--clr-primary);
    text-align: center;
    line-height: 1.41;
    font-size: var(--fs-h3);
    font-weight: var(--fw-regular);
}

.why__shuleh p {
    color: white;
    font-size: .875rem;
    text-align: center;
    line-height: 1.875em;
    font-weight: var(--fw-light);
    margin-top: 2em;
}

/* app features sections */

.features__section {
    /* background-color: var(--clr-primary); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/app_features.jpeg");
    background-attachment: fixed;
    background-size: cover;
    padding: 70px 0;
    text-align: left;
}

.features__section--title, .features__section p {
    color: var(--clr-secondary);
}

.features__section--title {
    font-size: var(--fs-h2);
    color: var(--clr-light);
    text-align: center;
    margin: 1em 0;
}

.features__section h4 {
    cursor: pointer;
    margin: 0;
    color: var(--clr-primary);
}

hr {
    width: 50px;
    margin: 1em 0;
}

hr.features__section--hr {
    border: 2px solid var(--clr-secondary);
}

.features__section p {
    font-weight: var(--fw-regular);
}

.features__section .col {
    background-color: var(--clr-light);
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 10px;
    width: 100%;
}

/* partners section */
.partners__section {
    padding: 70px 0;
    color: rgb(72, 40, 77);
    text-align: center;
}

.partners__section--img {
    width: 100%;
    display: flex;
}

.partners__section--img img {
    height: 100px;
    width: auto;
    padding: 1em;
}

/* media queries */

@media (min-width: 640px) and (min-width: 768) {

    /* custom properties styles */
    :root {
        --fs-h1: 4.0rem;
        --fs-h2: 3.75rem;
        --fs-body: 1.125rem;
    }

    /* nav styles */
    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        height: auto;
        align-items: center;
        position: relative;
        justify-content: flex-end;
        transition: all .5s;
    }

    .nav__list {
        display: flex;
        margin: 0;
    }

    .logo {
        height: 40px;
    }

    .nav__item {
        margin: 0 0 0 1.5em;
    }

    /* body styles */
    .row {
        display: flex;
        justify-content: space-between;
    }


    /* intro styles */
    .intro h1 {
        font-size: var(--fs-h1);
        line-height: 1.25;
    }

    .intro__text {
        width: 60%;
        letter-spacing: normal;
        padding-left: 2em;
        text-align: start;
    }

    .intro p {
        margin-bottom: 2em;
        line-height: 2em;
        font-size: 1.0rem;
        font-weight: var(--fw-light);
        letter-spacing: normal;
        
    }

    .intro__img {
        width: 40%;
        align-self: start;
        margin: 0;
    }

    /* about styles */
    .about__title {
        text-align: center;
        font-size: var(--fs-h2);
        line-height: 1.35;
    }

    .about p {
        line-height: 1.875;
        
    }

    .about__section--primary {
        width: 60%;
    }

    .about__section--secondary {
        width: 40%;
    }

    .col {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .col + .col {
        margin-left: 5em;
    }

    /* why shuleh styles */
    .why__shuleh--img {
        align-self: start;
    }

    .why__shuleh p {
        color: var(--clr-light);
        font-size: .9rem;
        text-align: center;
        line-height: 1.875em;
        font-weight: var(--fw-light);
        margin-top: 2em;
    }

}


@media (min-width: 900px) {

    /* custom properties styles */
    :root {
        --fs-h1: 2.5rem;
        --fs-h2: 2.0rem;
        --fs-body: 1rem;
    }


}


